<h2>Celebrities</h2>

<p>
  <a href="/celebrities/new">
    Add new
  </a>
</p>

<hr />

{{#each celebrities}}

  <p>
    <a href="/celebrities/{{ this._id }}">
      {{ this.name }}
    </a>
  </p>

{{/each}}
