body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.celebrity {
  display: block;
  padding: 5px 0;
}

.inline {
  display: inline-block;
}

form.inline {
  margin-left: 5px;
}